<article class="kitten-card">
    <div class="kitten-card-img">
        <img src="http://placekitten.com/200/200">
    </div>
    <div class="kitten-card-name">
        <p> {{name}} </p>
    </div>
    <!-- The structure below is subject to change -->
    <div class="kitten-details">
        <p> {{sex}} </p>
        <p> {{age}} </p>
        <p> {{image}} </p>
        <p> {{description}} </p>
        <p> {{chonk}} </p>
        <p> {{cuddlyness}} </p>
        <p> {{playfulness}} </p>
        <p> {{otherPets}} </p>
        <p> {{coatlength}} </p>
        <p> {{quiz}} </p>
    </div>
</article>