<article id={{_id}} class="kitten-card">
    <div class="kitten-card-img">
        <img src={{img}}>
    </div>
    <div class="kitten-card-name">
        <p class="kitten-card-name-p"> {{name}} </p>
    </div>
    <!-- The structure below is subject to change -->
    <div class="kitten-details hidden">
        <p class="kitten-sex"> {{sex}} </p>
        <p class="kitten-age"> {{age}} </p>
        <p class="kitten-desc"> {{desc}} </p>
        <p class="kitten-chonk"> {{chonk}} </p>
        <p class="kitten-cuddle"> {{cuddle}} </p>
        <p class="kitten-play"> {{play}} </p>
        <p class="kitten-cuddle"> {{pets}} </p>
        <p class="kitten-coat"> {{coat}} </p>
    </div>
</article>
