<article class="kitten-card">
    <div class="kitten-card-img">
        <img src={{img}}>
    </div>
    <div class="kitten-card-name">
        <p> {{name}} </p>
    </div>
    <!-- The structure below is subject to change -->
    <div class="kitten-details hidden">
        <p> {{sex}} </p>
        <p> {{age}} </p>
        <p> {{desc}} </p>
        <p> {{chonk}} </p>
        <p> {{cuddle}} </p>
        <p> {{play}} </p>
        <p> {{pets}} </p>
        <p> {{coat}} </p>
    </div>
</article>
